 <h1><%= @post.name %></h1>
 
 <% if policy(@post).update? %>
   <%= link_to "Edit Post", edit_topic_post_path, class: 'btn btn-success' %>
 <% end %>
 
 <div class="row">
   <div class="col-md-8">
     <p class="lead"><%= @post.description %></p>
     <% @summaries.each do |post| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to summary.title, summary %>
           </h4>
         </div>
       </div>
     <% end %>
   </div>
   <div class="col-md-4">
     <% if policy(Summary.new).create? %>
       <%= link_to "New Summary", new_summary_path(@topic, @post), class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>